<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	{% include head.html %}
	<body>
		{% include header.html %}
		<section class="main-holder">
			{% include sidebar.html %}
			<div class="main-content">
				{% if page.prevPage or page.nextPage %}
				<div class="paging top">
					{% if page.prevPage %}
						<a class="prev-link" href="{{ site.baseurl }}{{ page.prevPage }}">Prev</a>
					{% endif %}
					{% if page.nextPage %}
						<a class="next-link" href="{{ site.baseurl }}{{ page.nextPage }}">Next</a>
					{% endif %}
				</div>
				{% endif %}
				{{ content }}
				{% if page.prevPage or page.nextPage %}
				<div class="paging bottom">
					{% if page.prevPage %}
						<a class="prev-link" href="{{ site.baseurl }}{{ page.prevPage }}">Prev</a>
					{% endif %}
					{% if page.nextPage %}
						<a class="next-link" href="{{ site.baseurl }}{{ page.nextPage }}">Next</a>
					{% endif %}
				</div>
				{% endif %}
			</div>
		</section>

    <script>
      (function(d) {
        var config = {
          kitId: 'euw5zju',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
	</body>
</html>
